#vbox {
  width: 1080px;
  margin: 0 auto;
  background-color: #ffeee3;
}
header {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 5px;
  font-style: italic;
  font-weight: bolder;
  color: #ffff;
  background-color: #8c2d04;
}
header h1{
  padding-top: 0.5rem;
  font-size: 60px;
  letter-spacing: 10px;
}
header p{
  margin: 0 0 1rem 0 ;
  padding: 0 0 1rem 0;
  letter-spacing: 2.5px;
  font-size: 20px;
}
hr {
  height: 2px;
  width: 93%;
  background: #8c2d04;
}
#coffeeMap #mapBox {
  width: 100%;
}
#cpdBox, #genderBox, #ctgBox, #ctBox, #mapBox, #chBox, footer {
  margin: 2rem;
  padding: 0rem 1rem;
  display: flex; 
}
div h2 {
  margin: 1rem 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}
#mapBox {
  flex-direction: column;
}
#coffeeMap{
  margin-bottom: 2rem;
}
#cpdBox p, #genderBox p, #ctgBox p, #ctBox p, #mapBox p, #chBox p, footer p{
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: justify;
}
footer p b{
  color: #f58518;
}


